/* Pages.module.css */
.section {
    padding: 20px;
    text-align: center;
}

.sectionText1 {
    text-align: center;
}
.sectionTitle1 {
    text-align: center;
}

.section h1,
.section h2 {
    color: #333;
}

.section p {
    color: #666;
}

.sectionImg {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-top: 20px;
    border: 4px solid #61677A; /* Example: 2px solid black border */
    border-radius: 8px; /* Optional: Adds rounded corners */
}
.sectionBigImg {
    width: 100%;
    height: auto;
    margin-top: 20px;
    border: 4px solid #61677A; /* Example: 2px solid black border */
    border-radius: 8px; /* Optional: Adds rounded corners */
}

.sectionVideo {
    padding: 4px; /* Matches the border width */
    background-color: #61677A; /* Same as the border color */
    border-radius: 4px; /* Slightly larger to account for the padding */
    aspect-ratio: calc(16/9);
}


.linkStyle {
    color: #98c0ff; /* Example: A lighter shade of blue */
    text-decoration: none; /* Removes underline, optional */
}

.linkStyle:hover {
    color: #35a; /* Darker blue when hovered, optional */
}
.hiddenLinkStyle {
    color: inherit; /* Example: A lighter shade of blue */
    text-decoration: none; /* Removes underline, optional */
}

.hiddenLinkStyle:hover {
    color: inherit; /* Example: A lighter shade of blue */
    text-decoration: none; /* Removes underline, optional */

}